.textLink {
    color: blue;
    text-decoration: underline;
    border-radius: 5px;

    transition: 0.2s ease-in-out;
}

.textLink:hover {
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/

    background-color: rgba(255, 255, 255, 0.7);

    transition: 0.2s ease-in-out;
}

/* Define the types of shadow boxes we can choose from. */
.mediumShadow:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 4px;
}

.largeShadow:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 4px 8px 8px;
}
