.textLink {
    color: blue;
    text-decoration: underline;
    border-radius: 5px;

    transition: 0.2s ease-in-out;
}

.textLink:hover {
    transition: 0.2s ease-in-out;
}

/* Define different colors, depending on what fits better */
.lightLink:hover {
    background-color: rgba(255, 255, 255, 0.7)
}

.darkLink:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

/* Define the types of shadow boxes we can choose from. */
.mediumShadow:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 4px;
}

.largeShadow:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 4px 8px 8px;
}
