.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    width: 80vw;
    margin: auto;

    max-width: 1200px;

    justify-items: center;
}

.container > * {
    position: relative;
    text-align: center;
}

.container * > p {
    color: white;
    font-weight: bold;
    
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin: 0;

    width: 100%;
    padding: 5% 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.container * > img {
    display: block;
    width: 100%;
    height: auto;

    filter: brightness(80%);
    transition: 0.5s ease-in-out;
}

.container * > img:hover {
    filter: brightness(100%);
    box-shadow: rgba(0, 0, 0, 0.5) 6px 12px 12px;
    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
    }
}
