.container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.map {
    position: relative;
    width: 500px;
    height: auto;
}

.map > img {
    display: block;
    width: 100%;
    height: 100%;
}

.map a {
    position: absolute;
}

.map a img {
    display: block;
    width: 32px;
    height: 32px;
}

.map #SZZ {
    top: 20.5%;
    left: 1.5%;
}

.map #GDN {
    top: 3%;
    left: 42%;
}

.map #POZ {
    top: 39%;
    left: 25%;
}

.map #WAW {
    top: 41%;
    right: 27%;
}

.map #KRK {
    bottom: 13%;
    right: 38%;
}

.map #WRO {
    bottom: 33%;
    left: 24%;
}

.infoBox {
    padding: 15px;
    width: 35vw;
    max-width: 700px;
    min-height: 350px;

    background-color: lightgray;

    border-radius: 8px;

    transition: 0.5s ease-in-out;
}

.borderBox {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 8px 8px;

    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .map {
        width: 80vw;
        height: auto;
    }

    .infoBox {
        width: 80vw;
    }
}
