.container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    gap: 15px;
}

.container img {
    width: 500px;
    height: 500px;
}

.map {
    position: relative;
    width: min-content;
}

.map a {
    padding: 5px;
    border-radius: 50%;
    background-color: red;
    
    position: absolute;
}

.map #SZZ {
    top: 22%;
    left: 3.5%;
}

.map #GDN {
    top: 7%;
    left: 44%;
}

.map #POZ {
    top: 43%;
    left: 27%;
}

.map #WAW {
    top: 46%;
    right: 30%;
}

.map #KRK {
    bottom: 15%;
    right: 40%;
}

.map #WRO {
    bottom: 34%;
    left: 28%;
}

.infoBox {
    padding: 15px;
    width: 35vw;

    background-color: lightgray;

    border-radius: 8px;

    transition: 0.5s ease-in-out;
}

.borderBox {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 8px 8px;

    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .map img {
        width: 80vw;
        height: 80vw;
    }

    .infoBox {
        width: 80vw;
    }
}
