.discoverTitle {
    display: flex;
    justify-content: center;
}

.discoverTitle h1 {
    font-size: 3.5vw;
}

.discoverTitle h1:last-child {
    color: rgb(225, 0, 0);
}

@media only screen and (max-width: 800px) {
    .discoverTitle h1 {
        font-size: 8vw;
    }
}
